body{
    background-image: url(https://images3.alphacoders.com/157/thumb-1920-157265.jpg);
 
}

.gridselector{
    height: 375px;
    width: 546px;
    border-radius: 3%;
    overflow: hidden;
    background-color:#e3e5e6;
    margin:367px auto;
    padding:0;
}

.text1{
    padding:0px;
    margin: 0px;
}

.container{
   
    overflow: hidden;
    background:white;
    margin: 30px 30px 25px 25px;
    align-content: center;
    height:255px;
    width: 494px;
    border-radius: 3%;
}

.container ul {
    padding: 2px;
    margin: 3px 1px;
}

.container ul li {
    list-style: none;
    float: left;
    width: 26px;
    height: 26px;
   
    margin:2.25px 2.25px 2.25px 2.25px;
    border-radius: 15%;
}

li{
    background:yellow;
}

.blue{
    background:blue;
}

.floor{
    margin:0px;
    margin-top: 0px;
}

h5{
    margin:0px;
    padding:0px;
}

p{
    display:inline-block;
}